  .timesheetdetails {
    margin-top: 10px;
    margin-bottom: 10px;
  }

 .text-center{
   text-align: center;
 }

 .notes {
   width:100%;
 }

 table {
   width:100%;
   border-collapse: collapse;
   font-size: 14px;
 }

 table tbody {
   border: solid 1px #ccc;
 }

 table thead th {
   background: #f2f2f2;
   height:35px;
   text-align: center;
   color: rgba(34, 27, 27, 0.85);
   border: 1px solid rgb(172, 165, 165);
 }

 tr:nth-child(even) {background-color: #f2f2f2;}

 table tbody td {
  text-align: center;
  border: 1px solid rgb(172, 165, 165);
   white-space: nowrap;
 }

 table tbody tr {
   border: 1px solid rgb(172, 165, 165);
   height:10px;
 }

 .sheetmonth {
  text-align: center;
 }

 .addRow {
   margin-top: 25px;
 }

 .init-col {
   width: 13.33%;
 }

 .total-col {
   width: 40%;
 }

 .col-4 {
   width: 30px;
 }

 .totalhours {
   margin-left: 58%;
 }

 .cursor { cursor: pointer; }

  .datepaginator {
    padding-top: 18px;
  }

  .datepickerfield {
    width: 180px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .datepickerdiv {
    width: 180px;
    padding-left: 16px;
    padding-right: 8px;

  }


  .selectedDate {
    width: 274px;
    height: 45px;
    padding: 10px;
    font-size: 14px;
    color: #aca5a5;
    border: 1px solid #aca5a5;
  }

  .invisible{
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
  }

  .timesheetbutton {
    width: 100px;
  }
